[build-system]
# Minimum requirements for the build system to execute.
requires = ["setuptools", "wheel"]  # PEP 508 specifications.

[project]
name = "{{package_name}}"
authors = [
    {name = "{{author}}"},
]
description = "{{project_short_description}}"
readme = "README.md"
version = "0.1.0"
requires-python = ">={{python_version}}"
dependencies = []

[project.optional-dependencies]
test = [
    "pytest",
]
dev = [
    "{{package_name}}[test]",
    "flake8",
    "mypy",
    "pre-commit",
]

[tool.setuptools.packages.find]
exclude = ["test"]
