[build-system]
# Minimum requirements for the build system to execute.
requires = ["setuptools", "wheel"]  # PEP 508 specifications.

[project]
name = "{{package_name}}"
authors = [
    {name = "{{author}}"},
]
description = "{{project_short_description}}"
readme = "README.md"
version = "0.1.0"
requires-python = ">={{python_version}}"
dependencies = []

[project.optional-dependencies]
test = [
    "pytest",
]
dev = [
    "{{package_name}}[test]",
    "ruff",
    "mypy",
    "pre-commit",
]

[tool.setuptools.package-data]
"{{ package_name }}" = ["py.typed"]

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.mypy]
disallow_untyped_defs = true
disallow_any_unimported = true
no_implicit_optional = true
check_untyped_defs = true
warn_return_any = true
warn_unused_ignores = true
show_error_codes = true
files = ["src/"]
exclude = '''(?x)^(
    .git/|
    .venv/|
    venv/|
  )$'''

[tool.ruff]
select = ["E", "F", "Q", "B"]
src = ["src", "tests"]
show-source = true
show-fixes=true
